@{
    ViewBag.Title = "Welcome";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<h1 class="page-header">Hello, Welcome to <span class="text-red">T</span>NC <span class="text-red">E</span>xcellent <span class="text-red">M</span>old <span class="text-red">S</span>ystem</h1>
<div class="col-sm-12 center-block">
    <a class="thumbnail" href="#">
        <img src="~/img/MoldFlow.PNG" alt="Mold Flow" class="img-responsive"></a>
</div>